.content__task-list {
  inline-size: 100%;
  max-inline-size: calc(100% - 1rem);
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 30rem));
  grid-gap: 0.5rem;  
  justify-content: center;
}
